{
    "ldap": {
        "url": "",
        "dn": "",
        "pass": "",
        "base": "",
        "opts": {
            "scope": "",
            "filter": "",
            "attributes": ["", ""]
        }
    }
}